wordcloud==1.8.1
requests==2.18.4
matplotlib==3.2.1
urllib3==1.22
Flask_RESTful==0.3.8
Flask==1.1.2
scikit_learn==0.24.2
spacy
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.1.0/fr_core_news_sm-3.1.0-py3-none-any.whl
gunicorn